 <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
      <nav class="navbar-sidebar ">
        <ul class="navbar-nav" id="qmenu">
          <li class="nav-item" data-menuanchor="home">
            <a href="#home">
              <i class="icon ion-ios-home-outline"></i>
              <span class="txt">Home</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="about">
            <a href="#about">
              <i class="icon ion-ios-information-outline"></i>
              <span class="txt">About</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="team">
            <a href="#team">
              <i class="icon ion-ios-people-outline"></i>
              <span class="txt">Team</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="startups">
            <a href="#startups">
              <i class="icon ion-ios-lightbulb-outline"></i>
              <span class="txt">Startups</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="activities">
            <a href="#activities">
              <i class="icon ion-ios-list-outline"></i>
              <span class="txt">Activities</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="tinkerhub">
            <a href="#tinkerhub">
              <i class="icon ion-ios-people-outline"></i>
              <span class="txt">Tinkerhub</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="register">
            <a href="#register">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Register</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="subscribe">
            <a href="#subscribe">
              <i class="icon ion-ios-alarm-outline"></i>
              <span class="txt">Subscribe</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="contact">
            <a href="#contact">
              <i class="icon ion-ios-telephone-outline"></i>
              <span class="txt">Contact</span>
            </a>
          </li>
          <li class="nav-item" data-menuanchor="contact">
            <a href="/workshopregister">
              <i class="icon ion-ios-compose-outline"></i>
              <span class="txt">Workshop Registration</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of sidebar nav menu -->
    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu-->
