<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <title></title>

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/assets/dashboard/media/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/dashboard/media/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/dashboard/media/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Fonts and OneUI framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <link rel="stylesheet" id="css-main" href="/assets/dashboard/css/oneui.min.css">
        <link rel="stylesheet" href="/assets/dashboard/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
        

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="/assets/dashboard/css/themes/amethyst.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available classes for #page-container:

        GENERIC

            'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Template._uiHandleTheme())

        SIDEBAR & SIDE OVERLAY

            'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
            'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
            'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
            'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
            'sidebar-dark'                              Dark themed sidebar

            'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
            'side-overlay-o'                            Visible Side Overlay by default

            'enable-page-overlay'                       Enables a visible clickable Page Overlay (closes Side Overlay on click) when Side Overlay opens

            'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

        HEADER

            ''                                          Static Header if no class is added
            'page-header-fixed'                         Fixed Header

        HEADER STYLE

            ''                                          Light themed Header
            'page-header-dark'                          Dark themed Header

        MAIN CONTENT LAYOUT

            ''                                          Full width Main Content if no class is added
            'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
            'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
        -->
        <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
            
            {{> dashnav four="active"}}

            <!-- Main Container -->
            <main id="main-container">

                <!-- Hero -->
                <div class="bg-body-light">
                    <div class="content content-full">
                        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
                            <h1 class="flex-sm-fill h3 my-2">
                                Change Your Password
                            </h1>
                            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-alt">
                                    <li class="breadcrumb-item">Dashboard</li>
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a class="link-fx" href="/dashboard/settings">Settings</a>
                                    </li> 
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a class="link-fx" href="">Change Password</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- END Hero -->

                <!-- Page Content -->
                <div class="content">
                    <!-- With Text -->
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">Enter Data</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <form action="/dashboard/settings/changepassword" method="POST">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="font-size-sm text-muted">
                                            Change your password here
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-xl-5">
                                        <div class="form-group" hidden>
                                                <input type="text" class="form-control" id="email"  name="email" value="{{authdata.passport.user.username}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="password">New Password :<b style="color:red;">*</b></label>
                                                    <input id='password' type='password' class='form-control' placeholder="Enter a new password" name="password" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="confirm">Confirm Password :<b style="color:red;">*</b></label>
                                                    <input id='confirm' type="password" class="form-control" id="confirm" placeholder="Confirm password" name="confirm" onkeyup="confirmPass()" required>
                                        </div>
                                        <!--Alert when passwords doesnt match-->
                                        <div id="palert" hidden="true">
                                            <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert" >
                                                <div class="flex-fill mr-3">
                                                    <p class="mb-0">Passwords do not match !</p>
                                                </div>
                                                <div class="flex-00-auto">
                                                    <i class="fa fa-fw fa-times-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Alert EnD-->
                                        
                                        <div class="form-group">
                                            <input id='submitbutton' type='submit' class='btn btn-primary btn-block align-content-center col-sm-6' value='Change Password' disabled='disabled'></input>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>

            {{> dashfooter status="hidden"}}

      
        <script src="/assets/dashboard/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <!-- Page JS Helpers (BS Datepicker + BS Colorpicker + BS Maxlength + Select2 + Masked Inputs + Ion Range Slider plugins) -->
        <script src="/assets/dashboard/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
        <script>jQuery(function(){ One.helpers(['datepicker', 'colorpicker', 'maxlength', 'select2', 'masked-inputs', 'rangeslider']); });</script>
        <script>
                        function confirmPass() 
                        {
                            var x = document.getElementById("password").value;
                            var y = document.getElementById("confirm").value;
                            if (x != y) 
                            { 
                                document.getElementById('submitbutton').disabled = true;
                                document.getElementById('palert').hidden = false;
                            } 
                            else{
                                document.getElementById('palert').hidden = true;
                                document.getElementById('submitbutton').disabled = false;
                            }
                        }
    </script>
    </body>
</html>
