<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.highhay.com/simpleux/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Aug 2018 09:15:15 GMT -->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Page Title Here -->
  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="title" content="Official Website iEDC NSSCE">
  <meta name="description" content="iEDC NSSCE is one of the top most EDC in the state with a motto of “BE YOUR OWN BOSS”.It is established with the objective of creating,fostering and promoting the spirit of entrepreneurship among the youth of our college.It is recognized as an Innovation and Entrepreneurship Development Centre by Kerala Startup Mission.">

    <meta name="msvalidate.01" content="4797462A790FC250E24D25F6C37EAD1F" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Edc Nssce,Edc, sv.co, startup, nss college, palakkad, nssce, silicon valley, entrepreneur, entrepreneurship, student, startincollege, kerala startupmission">
    <meta name="author" content="EDC NSSCE">
    <meta name="rating" content="general" />
    <meta name="application-name" content="EDC NSSCE" />
    <meta property="og:title" content="EDC NSSCE" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://edc.nssce.ac.in//assets/images/logo.png" />
    <meta property="og:url" content="https://edc.nssce.ac.in" />
    <meta property="og:site_name" content="EDC NSSCE" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@edcnssce" />
    <meta name="twitter:image" content="//edc.nssce.ac.in//assets/images/logo.png" />
    <meta name="twitter:url" content="edc.nssce.ac.in" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="/assets/fonts/opensans/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/bebas/stylesheet.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="/assets/css/pageloader.css">

  <!-- Uncomment below to load individualy vendor CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/js/vendor/swiper.min.css">
  <link rel="stylesheet" href="/assets/js/vendor/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/assets/js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/slider.css">
  <link rel="stylesheet" href="/assets/css/timeline_index.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="/assets/css/style-default.css">

  <script src="/assets/js/vendor/modernizr-2.7.1.min.js"></script>	

  <style type="text/css">
	header,.all-menu-wrapper{
		background-color: rgba(0, 96, 100, 2.9)!important;
		

	}
	.navbar-mainmenu{
		background-color: rgba(0,96,100,0.8)!important;
	}
	h5,p{
		color:#ffffff!important;
	}
	.body-page{
		 background: linear-gradient(to right,#13547a,#80d0c7 )!important;
	}
	
</style>

<body id="menu" class="body-page">

	<!--Page Loader : just comment these lines to remove it -->
  	<div class="page-loader" id="page-loader">
    <div>
      <div class="icon ion-spin"></div>
      <p>loading</p>
    </div>
  </div>
    <!-- including partial file -->
    {{>navbar-main link='/register'}}
    
    </div>
    <!-- end of menu wrapper -->

  </header>
  <!-- END OF site header Menu--><br><br><br>

   <hr width="100%" >
    <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="team">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
        <!-- title -->

        <div class="section-title text-center">
          <h1>OFFICERS</h1>
        </div>
       <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-center" style="margin-bottom: 80px">
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    {{!-- <a href="https://www.linkedin.com/in/k-r-kiron-24a733111/" target="blank_"> --}}
                        <img class="img" src="/assets/images/team/2022-23/Vaisakh.jpg" alt="Image">
                      
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Vaisakh T</h5>
                      <p class="small">Nodal Officer</p>
                      <!-- <div class="icons">
                        <a class="icon-btn" href="https://www.linkedin.com/in/k-r-kiron-24a733111/">
                          <i class="icon fa fa-linkedin"></i>
                        </a>

                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/2022-23/Rohini.jpg"" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Rohini G Nair</h5>
                      <p class="small">Asst Nodal Officer</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title text-center">
            <h1>PANEL MEMBERS</h1>

          </div>
          <center>
          <hr color="red" width="100%">
        </center>
          <div class="item row justify-content-left" style="margin-bottom: 40px">
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/2022-23/Aswin-R-nath.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Michal Susan Rony</h5>
                      <p class="small">Chief Executive Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/2022-23/Abhinand.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Abhinand PK</h5>
                      <p class="small">Chief Financial Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="#" >
                        <img class="img" src="/assets/images/team/2022-23/Darshan.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Darshan S</h5>
                      <p class="small">Chief Technical Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#" >
                        <img class="img" src="/assets/images/team/2022-23/Abhirami.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Abhirami Gopikrishnan</h5>
                      <p class="small">Chief Operational Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- </div>-->
            <!--img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#" >
                        <img class="img" src="/assets/images/team/2022-23/Sivamrutha.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Sivamrutha</h5>
                      <p class="small">Chief Creative Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="assets/images/team/2022-23/Ananthu.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Ananthu S Krishna</h5>
                      <p class="small">Chief Social Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#" >
                        <img class="img" src="/assets/images/team/2022-23/Aswin-Krishnan.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Aswin Krishnan B</h5>
                      <p class="small">Chief Marketing Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#" >
                      <img class="img" src="/assets/images/team/2022-23/Arun-Roy.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Arun Roy</h5>
                    <p class="small">Chief Program Officer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#" >
                      <img class="img" src="/assets/images/team/2022-23/Gokul.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Gokul</h5>
                    <p class="small">Student Coordinator</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#" >
                      <img class="img" src="/assets/images/team/2022-23/Devi.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Devi Mahesh</h5>
                    <p class="small">Student Coordinator</p>
                  </div>
                </div>
              </div>
            </div>
          </div>   
      <!-- img-frame-normal demo -->
      <div class="col-12 col-sm-6 col-md-3 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-avatar-alpha">
              <div class="img-1 shadow">
              <a href="#">
                  <img class="img" src="/assets/images/team/2022-23/Parvathy.jpg" alt="Image">
                </a>
              </div>
              <div class="legend text-center pos-abs">
                <h5>Parvathy Manoj</h5>
                <p class="small">Content Head</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- img-frame-normal demo -->
    <div class="col-12 col-sm-6 col-md-3 center-vh">
      <div class="section-content anim translateUp">
        <div class="images text-center">
          <div class="img-avatar-alpha">
            <div class="img-1 shadow">
            <a href="#" >
                <img class="img" src="/assets/images/team/2022-23/Vyshakh-G.jpg" alt="Image">
              </a>
            </div>
            <div class="legend text-center pos-abs">
              <h5>Vyshakh G</h5>
              <p class="small">Activity Coordinator</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- img-frame-normal demo -->
    <div class="col-12 col-sm-6 col-md-3 center-vh">
      <div class="section-content anim translateUp">
        <div class="images text-center">
          <div class="img-avatar-alpha">
            <div class="img-1 shadow">
            <a href="#" >
                <img class="img" src="/assets/images/team/2022-23/Shithin.jpg" alt="Image">
              </a>
            </div>
            <div class="legend text-center pos-abs">
              <h5>Shithin Prakash</h5>
              <p class="small">Activity Coordinator</p>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#">
                      <img class="img" src="/assets/images/team/2022-23/Abhinav.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Abhinav Gopinath</h5>
                    <p class="small">Technical Team Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- img-frame-normal demo -->
    <div class="col-12 col-sm-6 col-md-3 center-vh">
      <div class="section-content anim translateUp">
        <div class="images text-center">
          <div class="img-avatar-alpha">
            <div class="img-1 shadow">
            <a href="#" >
                <img class="img" src="/assets/images/team/2022-23/Visak" alt="Image">
              </a>
            </div>
            <div class="legend text-center pos-abs">
              <h5>Visak Jayan</h5>
              <p class="small">Design team Head</p>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!--IoT Leads-->
        <div class="section-title text-center">
          <h1>IoT LEADS</h1>

        </div>
        
        <div class="item row justify-content-center" style="margin-bottom: 40px">
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#" >
                      <img class="img" src="/assets/images/team/2021-22/hafidh.jpeg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Arun K</h5>
                    <p class="small">Project Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                  <a href="#" >
                      <img class="img" src="/assets/images/team/2022-23/Akshay" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                      <h5>Akshay M</h5>
                    <p class="small">IoT Lab Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of item -->
        </div>

        <hr width="100%" color="#000000">
        <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="team">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
         <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-center" style="margin-bottom: 80px">
         
          <div class="section-title text-center">
            <h1>PREVIOUS PANEL (2019-20)</h1>
          
            <center>
              <hr color="red" width="100%">
            </center>
          </div>

          <div class="item row justify-content-left" style="margin-bottom: 40px">
            <!-- img-frame-normal demo -->
                    <!-- title -->
        

        <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-center" style="margin-bottom: 80px">
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/k-r-kiron-24a733111/" target="blank_">
                        <img class="img" src="/assets/images/team/kiron.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Kiron K R</h5>
                      <p class="small">Nodal Officer</p>
                      <!-- <div class="icons">
                        <a class="icon-btn" href="https://www.linkedin.com/in/k-r-kiron-24a733111/">
                          <i class="icon fa fa-linkedin"></i>
                        </a>

                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/jyothish.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Jyothish Krishna</h5>
                      <p class="small">Coordinator</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title text-center">
            <h1>PANEL MEMBERS</h1>
          </div>
          <center>
          <hr color="red" width="100%">
        </center>
          <div class="item row justify-content-left" style="margin-bottom: 40px">
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="id=EDC16001">
                        <img class="img" src="/assets/images/team/Akshay V J.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Akshay V J</h5>
                      <p class="small">Chief Executive Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="id=EDC16002">
                        <img class="img" src="/assets/images/team/Amarnath K.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Amarnath K</h5>
                      <p class="small">Chief Financial Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="/idcard/EDC16003" >
                        <img class="img" src="/assets/images/team/Sreekanth Sasi.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Sreekanth Sasi</h5>
                      <p class="small">Chief Technical Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="id=EDC16004" >
                        <img class="img" src="/assets/images/team/Anjana C.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Anjana C</h5>
                      <p class="small">Chief Operational Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- </div>-->
            <!--img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="id=EDC16005" >
                        <img class="img" src="/assets/images/team/Rakesh Kumar T.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Rakesh Kumar T</h5>
                      <p class="small">Chief Creative Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="id=EDC16006">
                        <img class="img" src="/assets/images/team/Greeshma K R.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Greeshma K R</h5>
                      <p class="small">Chief Social Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                        <a href="id=EDC16007" >
                        <img class="img" src="/assets/images/team/Asif Ahmed.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Asif Ahmed</h5>
                      <p class="small">Chief Marketing Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                      <a href="id=EDC16008" >
                      <img class="img" src="/assets/images/team/Abhinand G K.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Abhinand G K</h5>
                    <p class="small">Student Coordinator</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        <!-- img-frame-normal demo -->
        <div class="col-12 col-sm-6 col-md-3 center-vh">
          <div class="section-content anim translateUp">
            <div class="images text-center">
              <div class="img-avatar-alpha">
                <div class="img-1 shadow">
                    <a href="id=EDC16009" >
                    <img class="img" src="/assets/images/team/Rahul S.jpg" alt="Image">
                  </a>
                </div>
                <div class="legend text-center pos-abs">
                  <h5>Rahul S</h5>
                  <p class="small">Student Coordinator</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- img-frame-normal demo -->
      <div class="col-12 col-sm-6 col-md-3 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-avatar-alpha">
              <div class="img-1 shadow">
                  <a href="id=EDC16010">
                  <img class="img" src="/assets/images/team/Gayathri A V.jpg" alt="Image">
                </a>
              </div>
              <div class="legend text-center pos-abs">
                <h5>Gayathri A V</h5>
                <p class="small">Student Coordinator</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- img-frame-normal demo -->
    <div class="col-12 col-sm-6 col-md-3 center-vh">
      <div class="section-content anim translateUp">
        <div class="images text-center">
          <div class="img-avatar-alpha">
            <div class="img-1 shadow">
                <a href="id=EDC16011" >
                <img class="img" src="/assets/images/team/Sidharth Narayan.jpg" alt="Image">
              </a>
            </div>
            <div class="legend text-center pos-abs">
              <h5>Sidharth Narayan</h5>
              <p class="small">Activity Coordinator</p>
            </div>
          </div>
        </div>
      </div>
    </div>
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                      <a href="id=EDC16012">
                      <img class="img" src="/assets/images/team/Sreerag.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Sreerag</h5>
                    <p class="small">Activity Coordinator</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        <br><br>

        <!--IoT Leads-->
        <div class="section-title text-center">
          <h1>IoT LEADS</h1>

        </div>
        <center>
        <hr color="red" width="100%">
      </center>
        <div class="item row justify-content-center" style="margin-bottom: 40px">
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                      <a href="id=EDC16013" >
                      <img class="img" src="/assets/images/team/Mohamed Saheer Marakathel.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Mohamed Saheer Marakathel</h5>
                    <p class="small">Project Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                      <a href="id=EDC16014" >
                      <img class="img" src="/assets/images/team/Anand A S.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Anand A S</h5><br>
                    <p class="small">IoT Lab Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- img-frame-normal demo -->
          <div class="col-12 col-sm-6 col-md-3 center-vh">
            <div class="section-content anim translateUp">
              <div class="images text-center">
                <div class="img-avatar-alpha">
                  <div class="img-1 shadow">
                      <a href="id=EDC16015">
                      <img class="img" src="/assets/images/team/Akhil Raj P.jpg" alt="Image">
                    </a>
                  </div>
                  <div class="legend text-center pos-abs">
                    <h5>Akhil Raj P</h5><br>
                    <p class="small">IoT Lab Head</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <br><br>
        
        <!--Mentors section-->
          <div class="section-title text-center">
          <h1>MENTORS</h>
          </div>
          <div class="item row justify-content-center" style="margin-bottom: 20px">
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/surya.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Surya S S</h5>
                      <p class="small">Civil</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/kiran.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Kiran V K</h5>
                      <p class="small">Computer Science</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/jyothish.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Jyothish Krishna</h5>
                      <p class="small">Electronics & Communication</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          <div class="item row justify-content-center" style="margin-bottom: 80px">
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/vaisakh.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Vaisakh T</h5>
                      <p class="small">Electrical & Electronics</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/nikhil-binoy-149a35a7/" target="blank_">
                        <img class="img" src="/assets/images/team/nikhil.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Nikhil Binoy C</h5>
                      <p class="small">Instrumentation & Control</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/k-r-kiron-24a733111/" target="blank_">
                        <img class="img" src="/assets/images/team/kiron.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Kiron K R</h5>
                      <p class="small">Mechanical</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <!-- end of item -->
        </div>
      </div>
      </div>

      
      <hr width="100%" color="#000000">
        <!-- Begin of description section -->
    <div class="section section-description fp-auto-height-responsive " data-section="team">
      <!-- Begin of section wrapper -->
      <div class="section-wrapper center-vh dir-col anim">
         <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-center" style="margin-bottom: 80px">
         
          <div class="section-title text-center">
            <h1>PREVIOUS PANEL (2018-19)</h1>
          
            <center>
              <hr color="red" width="100%">
            </center>
          </div>

          <div class="item row justify-content-left" style="margin-bottom: 40px">
            <!-- img-frame-normal demo -->
                    <!-- title -->
        <div class="section-title text-center">
          <h1>OFFICERS</h1>
        </div>

        <!-- content -->
        <div class="section-content anim text-center">
          <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
          <!-- begin of item -->
          <div class="item row justify-content-center" style="margin-bottom: 80px">
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/k-r-kiron-24a733111/" target="blank_">
                        <img class="img" src="/assets/images/team/kiron.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Kiron K R</h5>
                      <p class="small">Nodal Officer</p>
                      <!-- <div class="icons">
                        <a class="icon-btn" href="https://www.linkedin.com/in/k-r-kiron-24a733111/">
                          <i class="icon fa fa-linkedin"></i>
                        </a>

                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/jyothish.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Jyothish Krishna</h5>
                      <p class="small">Coordinator</p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-title text-center">
            <h1>MEMBERS</h1>
            <center>
              <hr color="red" width="100%">
            </center>
          </div>
        </div>

            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/neeraj-c-6b9b2785/" target="blank_">
                        <img class="img" src="/assets/images/team/neeraj.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Neeraj C</h5>
                      <p class="small">Chief Executive Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/nidhin-suresh-a09277131/" target="blank_">
                        <img class="img" src="/assets/images/team/nidhin.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Nidhin Suresh</h5>
                      <p class="small">Chief Financial Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/sachin-dev/" target="blank_">
                        <img class="img" src="/assets/images/team/sachin.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Sachin Dev</h5>
                      <p class="small">Chief Technical Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/devikarthika15/" target="blank_">
                        <img class="img" src="/assets/images/team/devi.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Devi Karthika</h5>
                      <p class="small">Chief Operational Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
          <div class="item row justify-content-center" style="margin-bottom: 80px">
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/surin-suresh-99ab64162/" target="blank_">
                        <img class="img" src="/assets/images/team/surin.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Surin Suresh</h5>
                      <p class="small">Chief Creative Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="https://www.linkedin.com/in/aparna-sudheer-b64740166/" target="blank_">
                        <img class="img" src="/assets/images/team/aparna.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Aparna Sudheer</h5>
                      <p class="small">Chief Social Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- img-frame-normal demo -->
            <div class="col-12 col-sm-6 col-md-3 center-vh">
              <div class="section-content anim translateUp">
                <div class="images text-center">
                  <div class="img-avatar-alpha">
                    <div class="img-1 shadow">
                    <a href="#">
                        <img class="img" src="/assets/images/team/hariharan.jpg" alt="Image">
                      </a>
                    </div>
                    <div class="legend text-center pos-abs">
                      <h5>Hariharan C S</h5>
                      <p class="small">Chief Marketing Officer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- end of item -->
           <!--Mentors section-->
           <div class="section-title text-center">
            <h1>MENTORS</h>
            </div>
            <div class="item row justify-content-center" style="margin-bottom: 20px">
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="#">
                          <img class="img" src="/assets/images/team/surya.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Surya S S</h5>
                        <p class="small">Civil</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="#">
                          <img class="img" src="/assets/images/team/kiran.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Kiran V K</h5>
                        <p class="small">Computer Science</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="#">
                          <img class="img" src="/assets/images/team/jyothish.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Jyothish Krishna</h5>
                        <p class="small">Electronics & Communication</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            <div class="item row justify-content-center" style="margin-bottom: 80px">
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="#">
                          <img class="img" src="/assets/images/team/vaisakh.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Vaisakh T</h5>
                        <p class="small">Electrical & Electronics</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="https://www.linkedin.com/in/nikhil-binoy-149a35a7/" target="blank_">
                          <img class="img" src="/assets/images/team/nikhil.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Nikhil Binoy C</h5>
                        <p class="small">Instrumentation & Control</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-12 col-sm-6 col-md-3 center-vh">
                <div class="section-content anim translateUp">
                  <div class="images text-center">
                    <div class="img-avatar-alpha">
                      <div class="img-1 shadow">
                      <a href="https://www.linkedin.com/in/k-r-kiron-24a733111/" target="blank_">
                          <img class="img" src="/assets/images/team/kiron.jpg" alt="Image">
                        </a>
                      </div>
                      <div class="legend text-center pos-abs">
                        <h5>Kiron K R</h5>
                        <p class="small">Mechanical</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <!-- end of item -->
         
        </div>



 <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>

  <!-- All vendor scripts -->
  <script src="/assets/js/vendor/scrolloverflow.min.js"></script>
  <script src="/assets/js/vendor/all.js"></script>
  <script src="/assets/js/particlejs/particles.min.js"></script>

  <!-- Countdown script -->
  <script src="/assets/js/jquery.downCount.js"></script>

  <!-- Form script -->
  <script src="/assets/js/form_script.js"></script>

  <!-- Javascript main files -->
  <script src="/assets/js/main.js"></script>

</body>
</html>